.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 300px;
  align-items: center;

  cursor: pointer;
}

.nav-links:hover{
    color: var(--TIL-grey-color);
    transition: ease-in-out;
    transition-duration: 0.2s;
}

